<%= form_for @service do |f| %>

    <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title, autofocus: true %>
    </div>
    
    <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description, autofocus: true %>
    </div>

    <div class="field">
        <%= f.collection_select :category_id, @categories, :id, :name,  prompt: "Select a Category" %>
    </div>
    
    <div class="actions">
        <%= f.submit %>
    </div>

<% end %>