<h2>Service Title: <%= @service.title %></h2>
<h3>Category: <%= @service.category.name %></h3>
<h3>Description: <%= @service.description %></h3>


<% if current_user == @service_request_user %>
    <%= button_to 'Edit', edit_service_path(@service) %>
    <%= button_to 'Take down', "/services/#{@service.id}", method: :delete %>
<% else %>
    <p>This service was requested by <%= @service_request_user.username %>
    <% if @service.offered_user.nil? %>
        <%= link_to 'Assign', edit_service_path(@service) %>
    <% elsif @service.offered_user == current_user %>
        <%= link_to 'Unassign', edit_service_path(@service) %>
    <% else %>
        <%= ", and already has been assigned to a user" %>
    <% end %>
<% end %></p><br>

<%= link_to 'Home', root_path %>
