
<% if user_signed_in? %>

    <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
    <% end %>
    <% user = current_user %>
    <h2>Welcome <%= user.username %></h2>
    <h3><%= user.location.city + ", " + user.location.state %></h3>


    <p>
        Number of contribution: <%= user.number_of_helps %><br>
        <% best_user = User.most_helpful %>
    </p>

    <p>
        Requested Services:
        <% user.services.each do |service| %>
            <% @offer_user = service.offered_user %>
            <li><%= link_to service.title, service_path(service) %>, assigned to <%= @offer_user ? @offer_user.username : "" %></li>
        <% end %>
    </p>

    <p>
        <%= link_to 'Category page', categories_path %>
    </p>
    
    <p>Place a new <%= link_to 'Service', new_service_path %></p>

<% else %>
    <h1>Welcome to Comunitree</h1>
    <p>Please <%= link_to('Login', new_user_session_path) %> to continue or <%= link_to('Signup', new_user_registration_path) %></p>
<% end %>