<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
<% end %>

<h3>You are logged in as <%= current_user.username %></h3>

<p><strong>Categories: </strong>
    <% @categories.each do |category| %>
        <li>
            <strong><%= "#{category.name}" %>:</strong>
            <%= link_to 'Create a service', new_category_service_path(category) %> ||
            <%= link_to 'List services', category_services_path(category) %><br><br>
        </li>
    <% end %>
</p>