<!DOCTYPE html>
<html>
  <head>
    <title>Communitree</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav><%= link_to 'Home', root_path %></nav>
      <nav><%= link_to 'Edit account', edit_user_registration_path %></nav>
      <nav><%= link_to 'Available services', services_path %></nav>
      <nav><%= link_to 'Best User', best_user_path %></nav>
      <nav><%= link_to 'Logout', destroy_user_session_path, method: :delete %></nav>
      <br>
    <% end %>
    <%= yield %>
  </body>
</html>
